<div>
    <div>
        <h1><b>Countries</b></h1>
            <p>Get to know more about <b>Cricket-playing</b> countries in the world.</p>
    </div>
    <br>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51245439127/in/dateposted-public/" title="T26pvFfd9Gu5QQnpSJXdC2tr6TPGCB_N4UU5XZydyCQ"><img src="https://live.staticflickr.com/65535/51245439127_32b204704b_z.jpg" width="640" height="437" alt="T26pvFfd9Gu5QQnpSJXdC2tr6TPGCB_N4UU5XZydyCQ"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <div id="Num">
        <h2>Total Number of Countries that play Cricket</h2>
            <p>Their are total number of 104 countries that are part of the <b>ICC</b>( International Cricket Council). Out of 104, 12 are full memebers which play Test, ODI and T20 and 92 are associate memebers which do not play Test but ODI and T20.</p>
    </div>
    <br>
    <div id="Countries">
        <ol>
            <li class="Countries">12 Full Members are: Afghanistan, Australia,Bangladesh, England, India, Ireland, New Zealand, Pakistan, Sri Lanka, South Africa, West Indies, Zimbabwe.</li><br>
            <li class="Countries">Ireland Team represents: Republic of Ireland( an Independent Country) and Northern Ireland( part of UK). This pattern is for all International competition like Olympics.</li><br>
            <li class="Countries">West Indies represents a team of 10 independent countries: Antigua and Barbuda, Barbados, Dominica, Greneda, Guyana, Jamaica, St. Lucia, St. Vincent and Grenedines, St. Kitts and Nevis, Trinidad and Tabago.
            West Indies also consists of dependencies which are as follows: Anguilla, Montserrat, British Virgin Islands, St. Marteen and U.S. Virgin Islands.</li><br>
            <li class="Countries">East Africa Cricket Team: East Africa Cricket Team consists of Kenya, Tanzania, Zambia and Uganda. They were associate member from 1966 to 1989. They participated in 1975 Cricket World Cup.</li><br>
            <li class="Countries">East and Central Africa Cricket Team: After 1989 East Africa Cricket Team place was taken by East and Central Africa Cricket Team Malawi, Tanzania, Uganda and Zambia. They were part of ICC from 1989 to 2003 after which each Nation represents themselves.</li><br>
            <li class="Countries">Kenya cricket team is an associate member of ICC since 1981 and reached Cricket World Cup Semifinal in 2003. They participated in ICC cricket world cup from 199o to 2003 and in ICC champions trophy in 2000 and 2002. They hosted ICC champions trophy in 2000 and 2003 Cricket World Cup with South Africa and Zimbabwe( only couple of matches were played their).</li><br>
            <li class="Countries">Netherland cricket team first played their match in 1881. They qualified for ICC cricket world cup from 1996 to 2011. They achieved a surprise victory on Austrslia as early as in 1964 after which they were awarded associate membership. They participated in 2009 and 2014 T20 world cup and won couple of games against full members. There are around 6,000 players registered as cricketers in The Netherlands (majority of them are local and non South Asian descent). Cricket popularity has decreased in The Netherlands from 1970s due to rise of football ( they were runner- ups in 1974 and 1978 fifa world cup).</li><br>
            <li class="Countries">Other country that participated in ICC Tournaments are: Namibia and Canada in 2003 World Cup, Papua New Guinea will participate in 2022 T20 world cup, UAE participated in 1996 and 2015 world cups, USA in 2004 Champions Trophy( expelled in 2017 and re admitted in 2019).</li><br>
        </ol>
        
    </div>
    </div>