<div>
    <div>
        <h1><b>Tournament Score Table</b></h1>
            
    </div>
    
    <table style="width:100%">
    <tr>
        <th>No</th>
        <th>Teams</th>
        <th>P</th>
        <th>W</th>
        <th>L</th>
        <th>T</th>
        <th>NR</th>
        <th>PTS</th>
        <th>NRR</th>
    </tr>
    <tr>
        <td>1</td>
        <td>India</td>
        <td>9</td>
        <td>7</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>15</td>
        <td>+0.809</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Australia</td>
        <td>9</td>
        <td>7</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>14</td>
        <td>+0.868</td>
    </tr>
    <tr>
        <td>3</td>
        <td>England</td>
        <td>9</td>
        <td>6</td>
        <td>3</td>
        <td>0</td>
        <td>0</td>
        <td>12</td>
        <td>+1.152</td>
    </tr>
    <tr>
        <td>4</td>
        <td>New Zealand</td>
        <td>9</td>
        <td>5</td>
        <td>3</td>
        <td>0</td>
        <td>1</td>
        <td>11</td>
        <td>+0.175</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Pakistan</td>
        <td>9</td>
        <td>5</td>
        <td>3</td>
        <td>0</td>
        <td>1</td>
        <td>11</td>
        <td>-0.430</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Sri Lanka</td>
        <td>9</td>
        <td>3</td>
        <td>4</td>
        <td>0</td>
        <td>2</td>
        <td>8</td>
        <td>-0.919</td>
    </tr>
    <tr>
        <td>7</td>
        <td>South Africa</td>
        <td>9</td>
        <td>3</td>
        <td>5</td>
        <td>0</td>
        <td>1</td>
        <td>7</td>
        <td>-0.030</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Bangladesh</td>
        <td>9</td>
        <td>3</td>
        <td>5</td>
        <td>0</td>
        <td>1</td>
        <td>7</td>
        <td>-0.410</td>
    </tr>
    <tr>
        <td>9</td>
        <td>West Indies</td>
        <td>9</td>
        <td>2</td>
        <td>6</td>
        <td>0</td>
        <td>1</td>
        <td>5</td>
        <td>-0.225</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Afghanistan</td>
        <td>9</td>
        <td>0</td>
        <td>9</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>-1.322</td>
    </tr>
    </table>   
</div>