<div>
    
    <div>
        <h1><b>Players</b></h1>
           <p>Get to know more about <b>Cricket Players</b> across the world.</p>
    </div>
    <br>
    <h2>India</h2>
    <figure>
        <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51248369680/in/dateposted-public/" title="indian-flag-500x500 (2)"><img src="https://live.staticflickr.com/65535/51248369680_9b6c61916d.jpg" width="397" height="246" alt="indian-flag-500x500 (2)"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <figcaption>IND</figcaption>
    </figure>
    <br>
    <br>
    <h3>Cricket Players</h3>
    <ul style="list-style-type:none">
        <li>MA Agarwal</li>
        <br>
        <li>YS Chahal</li>
        <br>
        <li>Ishan Kishan</li>
        <br>
        <li>V Kohli</li>
        <br>
        <li>Mohammed Siraj</li>
        <br>
        <li>HH Pandya</li>
        <br>
        <li>AR Patel</li>
        <br>
        <li>AM Rahane</li>
        <br>
        <li>I Sharma</li>
        <br>
        <li>SN Thakur</li>
        <br>
        <li>R Ashwin</li>
        <br>
        <li>KH Pandya</li>
        <br>
        <li>KL Rahul</li>
        <br>
        <li>RG Sharma</li>
        <br>
        <li>JJ Bumrah</li>
        <br>
        <li>S Dhawan</li>
        <br>
        <li>RA Jadeja</li>
        <br>
        <li>RR Pant</li>
        <br>
        <li>CA Pujara</li>
    </ul>
    <br>
    
    
    <h2>England</h2>
    <figure>
        <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51248133639/in/dateposted-public/" title="Flag-England"><img src="https://live.staticflickr.com/65535/51248133639_a6de22bc82.jpg" width="500" height="333" alt="Flag-England"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <figcaption>ENG</figcaption>
    </figure>
    <br>
    <br>
    <h3>Cricket Players</h3>
    <ul style="list-style-type:none">
        <li>JM Bairstow</li>
        <br>
        <li>JR Bracey</li>
        <br>
        <li>JC Buttler</li>
        <br>
        <li>TK Curran</li>
        <br>
        <li>DW Lawrence</li>
        <br>
        <li>DJ Malan</li>
        <br>
        <li>AU Rashid</li>
        <br>
        <li>JJ Roy</li>
        <br>
        <li>JM Anderson</li>
        <br>
        <li>Z Crawley</li>
        <br>
        <li>BT Foakes</li>
        <br>
        <li>MJ Leach</li>
        <br>
        <li>EJG Morgan</li>
        <br>
        <li>OE Robinson</li>
        <br>
        <li>JC Archer</li>
        <br>
        <li>SW Billings</li>
        <br>
        <li>RJ Burns</li>
        <br>
        <li>SM Curran</li>
        <br>
        <li>CJ Jordan</li>
        <br>
        <li>BA Stokes</li>
        <br>
        <li>MA Wood</li>
    </ul>
    <br>
    
    
    <h2>Australia</h2>
    <figure>
        <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51247616163/in/dateposted-public/" title="rectangle_sticker_with_flag_of_australia-rcf160c92d8e34636937ecc76ebeb07c8_0ugdw_8byvr_704 (2)"><img src="https://live.staticflickr.com/65535/51247616163_c48fd9643a.jpg" width="500" height="297" alt="rectangle_sticker_with_flag_of_australia-rcf160c92d8e34636937ecc76ebeb07c8_0ugdw_8byvr_704 (2)"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <figcaption>AUS</figcaption>
    </figure>
    <br>
    <br>
    <h3>Cricket Players</h3>
    <ul style="list-style-type:none">
        <li>SA Abbott</li>
        <br>
        <li>PJ Cummins</li>
        <br>
        <li>MS Harris</li>
        <br>
        <li>MC Henriques</li>
        <br>
        <li>MR Marsh</li>
        <br>
        <li>TD Paine</li>
        <br>
        <li>JA Richardson</li>
        <br>
        <li>AC Agar</li>
        <br>
        <li>AJ Finch</li>
        <br>
        <li>GJ Maxwell</li>
        <br>
        <li>JR Philippe</li>
        <br>
        <li>KW Richardson</li>
        <br>
        <li>SPD Smith</li>
        <br>
        <li>DA Warner</li>
        <br>
        <li>JA Burns</li>
        <br>
        <li>C Green</li>
        <br>
        <li>A Zampa</li>
        <br>
        <li>TM Head</li>
        <br>
        <li>NM Lyon</li>
        <br>
        <li>AJ Tye</li>
    </ul>
    <br>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
