<div>

    <div>
        <h1><b>Venues</b></h1>
        <p>Get to know more about <b>Cricket Grounds, Stadiums & Venues</b> across the world.</p>
    </div>
    <br>
    
    
        <h2>Categories</h2>
        <p>To comprise this list, each venue was allocated points out of 10 over three categories (see below) before adding up the totals and listing them in order of low to high.</p>
        <p><b>Atmosphere</b>: Is it at a cacophony of sound? Does it make opposing players tremble in their spikes? Is the gentle ripple before play begins one of life's great pleasures?</p>
        
        <p><b>History</b>: How long has the ground been in use for? What famous cricketing incidents occurred there? Have a plethora of records been set on that piece of hallowed turf?</p>
       
        <p><b>Aesthetics</b>: How nice is the ground to look at? How nice is its location? What is the surrounding area like?</p>
       
        Read on to find out the results.
    <br>
    <br>
    <h2>1. Lord's</h2>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51247300678/in/dateposted-public/" title="badbcf7d721c3862abe7a313307bdb20_crop_exact"><img src="https://live.staticflickr.com/65535/51247300678_bb245bedf7_c.jpg" width="800" height="533" alt="badbcf7d721c3862abe7a313307bdb20_crop_exact"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <br>
    <div>
        <ul style="list-style-type:none">
        <li><b>Location:</b> London, UK</li>
        <br>
        <li><b>Capacity:</b> 28,000</li>
        <br>   
        <li><b>Built:</b> 1814</li>
        <br>   
        <li><b>Teams:</b> England, MCC, Middlesex</li>
        <br>   
        <li><b>Atmosphere:</b> 8</li>
        <br>    
        <li>Although it may be a little stuffy and archaic for some, the Home of Cricket is a special place, especially when a Test Match is taking place. The first morning of the first Test of the summer, in particular, provides a unique atmosphere.</li>
        <br>    
        <li><b>History:</b> 10</li>
        <br>   
        <li>Since the earliest-known match at Lord's taking place between the MCC and Hertfordshire in 1814, there has been plenty of history created—including more than a 100 Test matches.</li>
        <br>    
        <li>With 2,015 runs, Graham Gooch is the highest Test run scorer at the ground, which includes the highest individual score—a memorable 333, against India in 1990. Ian Botham leads the bowlers with his 69 wickets taken.</li>
        <br>    
        <li><b>Aesthetics:</b> 9</li>
        <br>   
        <li>From the Victorian-era pavilion, which contains the famous Long Room and its Honours Board, through to Old Father Time (a weather vane) and the pleasant St John's Wood surroundings, the home of Marylebone Cricket Club is the definition of photogenic.</li>
         <br>   
        <li><b>Total:</b> 27</li>
        </ul>
    </div>
    <br>
    
    
    
    <h2>2. MCG</h2>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51246456077/in/dateposted-public/" title="8b4374515108c5be51d478c8459ddce9_crop_exact"><img src="https://live.staticflickr.com/65535/51246456077_509bac32a4_c.jpg" width="800" height="533" alt="8b4374515108c5be51d478c8459ddce9_crop_exact"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <br>
    <div>
        <ul style="list-style-type:none">
        <li><b>Location:</b> Melbourne, Australia</li>
        <br>
        <li><b>Capacity:</b> 96,000</li>
        <br>   
        <li><b>Built:</b> 1854</li>
        <br>   
        <li><b>Teams:</b> Victoria, Melbourne Stars, Australia</li>
        <br>   
        <li><b>Atmosphere:</b> 8</li>
        <br>    
        <li>The MCG is at its cricketing zenith in the traditional Boxing Day Test, where almost 100,000 people combine to create a carnival atmosphere. Can be raucous, especially around the infamous Bay 13 area.</li>
        <br>    
        <li><b>History:</b> 10</li>
        <br>   
        <li>Although not as old as Lord's, 160 years of action has produced a sea of iconic moments. Perhaps the most memorable, for all the wrong reasons, was the "underarm delivery" from Trevor Chappell.</li>
        <br>     
        <li><b>Aesthetics:</b> 7</li>
        <br>   
        <li>Sadly, the G has gone down a similar route to other modern stadia, sacrificing its charm for an increased capacity. While—in a modern day sense—it remains pleasing on the eye, it's still a huge concrete bowl.</li>
         <br>   
        <li><b>Total:</b> 25</li>
        </ul>
    </div>
    <br>
    
    
    <h2>3. Eden Gardens</h2>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51247207001/in/dateposted-public/" title="e1d8420d5b756c8ccc1e4c297e5b8702_crop_exact"><img src="https://live.staticflickr.com/65535/51247207001_63c989eca2_c.jpg" width="800" height="533" alt="e1d8420d5b756c8ccc1e4c297e5b8702_crop_exact"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <br>
    <div>
        <ul style="list-style-type:none">
        <li><b>Location:</b> Kolkata, India</li>
        <br>
        <li><b>Capacity:</b> 66,000</li>
        <br>   
        <li><b>Built:</b> 1864</li>
        <br>   
        <li><b>Teams:</b> Bengal, Kolkata Knight Riders, India</li>
        <br>   
        <li><b>Atmosphere:</b> 10</li>
        <br>    
        <li>Trying to concentrate while thousands of fans are screaming so loud that you can't hear yourself think is why playing at Eden Gardens is considered a rite of passage for a cricketer.</li>
        <br>    
        <li><b>History:</b> 8</li>
        <br>   
        <li>Riots, World Cup finals, stampedes, hat-tricks, the greatest come-from-behind victory of all time and even more riots. What more could you possibly want? </li>
        <br>     
        <li><b>Aesthetics:</b> 7</li>
        <br>   
        <li>Sadly, like many of the other stadiums, modern-day renovations, while necessary in terms of safety and comfort, have just taken the edge off the ground in terms of its attractiveness.</li>
         <br>   
        <li><b>Total:</b> 25</li>
        </ul>
    </div>
    <br>
    
    <h2>4. Newlands</h2>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51247226641/in/dateposted-public/" title="042c0d705de168135ebe17f13db59b71_crop_exact"><img src="https://live.staticflickr.com/65535/51247226641_2fcaf47275_c.jpg" width="800" height="533" alt="042c0d705de168135ebe17f13db59b71_crop_exact"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <br>
    <div>
        <ul style="list-style-type:none">
        <li><b>Location:</b> Cape Town, South Africa</li>
        <br>
        <li><b>Capacity:</b> 25,000</li>
        <br>   
        <li><b>Built:</b> 1889</li>
        <br>   
        <li><b>Teams:</b> Western Province, Cape Cobras, South Africa</li>
        <br>   
        <li><b>Atmosphere:</b> 7</li>
        <br>    
        <li>The spectacular surroundings make for a buzzing atmosphere, particularly in international cricket. While most of the grassy knolls have been replaced, spots on the remaining ones are sought after.</li>
        <br>    
        <li><b>History:</b> 7</li>
        <br>   
        <li>Any ground that has been in existence for 125 years and witnessed 50 Tests and counting will have seen some sights. Locals will have particularly enjoyed the nine centuries that local-boy Jacques Kallis registered.</li>
        <br>     
        <li><b>Aesthetics:</b> 9</li>
        <br>   
        <li>When Newlands basks under the sun with Table Mountain towering in the background, is there a greater place to watch cricket? The only reason this ground doesn't get full points is the abundance of bland concrete when looking from other angles.</li>
        <br>   
        <li><b>Total:</b> 23</li>
        </ul>
    </div>
    <br>
    
    <h2>5. Feroz Shah Kotla</h2>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51246525967/in/dateposted-public/" title="4bd517e419fbbc5ea61a672b238111b1_crop_exact"><img src="https://live.staticflickr.com/65535/51246525967_bc022d27e0_c.jpg" width="800" height="533" alt="4bd517e419fbbc5ea61a672b238111b1_crop_exact"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <br>
    <div>
        <ul style="list-style-type:none">
        <li><b>Location:</b> Delhi, India</li>
        <br>
        <li><b>Capacity:</b> 40,000</li>
        <br>   
        <li><b>Built:</b> 1883</li>
        <br>   
        <li><b>Teams:</b> Delhi, Delhi Daredevils, India</li>
        <br>   
        <li><b>Atmosphere:</b> 8</li>
        <br>    
        <li>Famed for its cauldron-like, partisan atmosphere, playing at the Feroz is a huge test of nerve for opposing players.</li>
        <br>    
        <li><b>History:</b> 7</li>
        <br>   
        <li>Delhi fans have seen many ups and downs over the years. Euphoric highs such as Anil Kumble taking all 10 wickets in one innings mix with the embarrassing low of a 2009 ODI against Sri Lanka being abandoned due to a poor pitch.</li>
        <br>     
        <li><b>Aesthetics:</b> 6</li>
        <br>   
        <li>Something of a concrete jungle dominated by the huge Stadium End stand that looks like a multi-storey car park.</li>
        <br>   
        <li><b>Total:</b> 21</li>
        </ul>
    </div>
    <br>
    
    
    
    </div>
    