<div>

    <div>
        <h1><b>Matches</b></h1>
        <p>Get to know more about <b>Cricket Matches</b> across the world in 2020-2021.</p>
    </div>
    <br>
    <h2>ONE-DAY INTERNATIONALS</h2>
    <br>
    <div>
        <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51254589789/in/dateposted-public/" title="311328.4"><img src="https://live.staticflickr.com/65535/51254589789_ecbf52b25c_o.jpg" width="900" height="506" alt="311328.4"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <h3><b>Zimbabwe in Pakistan ODI Series</b>, Oct-Nov 2020</h3>
    <h4>List of Matches</h4>
    <p><b>Oct 30, 2020</b> - 1st ODI at Rawalpindi Cricket Stadium (day/night)</p>
    <p><b>Nov 1, 2020</b> - 2nd ODI at Rawalpindi Cricket Stadium (day/night)</p>
    <p><b>Nov 3, 2020</b> - 3rd ODI at Rawalpindi Cricket Stadium (day/night)</p>
    </div>
    <br>
    
    
    <h2>Match Summary</h2>
    <div>
    <p><b>Oct 30, 2020</b> - 1st ODI at Rawalpindi Cricket Stadium (day/night)</p>
    <h3>Pakistan 281/8 (50 ov)</h3>
    <h3>Zimbabwe 255 (49.4/50 ov)</h3>
    <p>Pakistan won by 26 runs</p>
    <h3>Team Details</h3>
    <p>Pakistan 281 for 8 (Sohail 71, Imam-ul-Haq 58, Chisoro 2-31) beat Zimbabwe 255 (Taylor 112, Madhevere 55, Afridi 5-49, Wahab 4-41) by 26 runs.
    </p>
    <h3>Winner</h3>
    <p>Pakistan won by 26 runs.</p>
    <h3>Looser</h3>
    <p>Zimbabwe</p>
    <h3>Man of the Match</h3>
    <p>Brendan Taylor (Zimbabwe)</p>
    <h3>Bowler of the Match</h3>
    <p>Haris Rauf (Pakistan)</p>
    <h3>Best Fielder</h3>
    <p>Shaheen Shah Afridi (Pakistan)</p>
    </div>
    <br>
    
    
    <div>
    <p><b>Nov 1, 2020</b> - 2nd ODI at Rawalpindi Cricket Stadium (day/night)</p>
    <h3>Zimbabwe 206 (45.1/50 ov)</h3>
    <h3>Pakistan 208/4 (35.2/50 ov)</h3>
    <p>Pakistan won by 6 wickets (with 88 balls remaining)</p>
    <h3>Team Details</h3>
    <p>Pakistan 208 for 4 (Babar Azam 77*, Imam-ul-Haq 49, Tendai Chisoro 2-49) beat Zimbabwe 206 (Sean Williams 75, Iftikhar Ahmed 5-40, Muhammad Musa 2-21) by six wickets.
    </p>
    <h3>Winner</h3>
    <p>Pakistan won by 6 wickets.</p>
    <h3>Looser</h3>
    <p>Zimbabwe</p>
    <h3>Man of the Match</h3>
    <p>Iftikhar Ahmed (Pakistan)</p>
    <h3>Bowler of the Match</h3>
    <p>Shaheen Shah Afridi (Pakistan)</p>
    <h3>Best Fielder</h3>
    <p>Muhammad Musa (Pakistan)</p>
    </div>
    <br>
    
    
    
    <div>
        <p><b>Nov 3, 2020</b> - 3rd ODI at Rawalpindi Cricket Stadium (day/night)</p>
        <h3>Zimbabwe 278/6 (50 ov)</h3>
        <h3>Pakistan 278/9 (50 ov)</h3>
        <p>Match tied (Zimbabwe won the one-over eliminator)</p>
        <h3>Team Details</h3>
        <p>Zimbabwe 278 for 6 (Williams 118*, Taylor 56, Hasnain 5-26) tied with Pakistan 278 for 9 (Azam 125, Riaz 52, Muzarabani 5-49)
        <br> Super Over: Zimbabwe 3 beat Pakistan 2
        </p>
        <h3>Winner</h3>
        <p>Match tied (Zimbabwe won the one-over eliminator)</p>
        <h3>Looser</h3>
        <p>Pakistan</p>
        <h3>Man of the Match</h3>
        <p>Blessing Muzarabani (Zimbabwe)</p>
        <h3>Man of the Series</h3>
        <p>Babar Azam (Pakistan)</p>
        <h3>Bowler of the Match</h3>
        <p>Shaheen Shah Afridi (Pakistan)</p>
        <h3>Best Fielder</h3>
        <p>Mohammad Hasnain (Pakistan)</p>
        </div>
        <br>
    
    <h2>Results</h2>
    <p>Pakistan won the 3-match series 2-1</p>
    <div>
    
    </div>
    
    </div>