<div>
    <div>
        <h1><b>Teams</b></h1>
            <p>Get to know more about <b>Cricket-playing</b> teams across the world.</p>
    </div>
    <br>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51245439127/in/dateposted-public/" title="T26pvFfd9Gu5QQnpSJXdC2tr6TPGCB_N4UU5XZydyCQ"><img src="https://live.staticflickr.com/65535/51245439127_32b204704b_z.jpg" width="640" height="437" alt="T26pvFfd9Gu5QQnpSJXdC2tr6TPGCB_N4UU5XZydyCQ"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <h4>Team Profiles</h4>
        <table style="width:100%">
          <tr>
            <th>Parameter</th>
            <th>India</th>
            <th>England</th>
            <th>Australia</th>
            <th>New Zealand</th>
            <th>South Africa</th>
            <th>Pakistan</th>
          </tr>
          <tr>
              <td></td>
              <td><a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51247705669/in/dateposted-public/" title="70932702"><img src="https://live.staticflickr.com/65535/51247705669_93c588b0c9_w.jpg" width="150" height="170" alt="70932702"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></td>
              <td><a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51248005005/in/dateposted-public/" title="ecb-logo"><img src="https://live.staticflickr.com/65535/51248005005_4f5e99884d_w.jpg" width="400" height="286" alt="ecb-logo"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></td>
              <td><a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51248009665/in/dateposted-public/" title="29bfbaf576fd4acc9cc352413fa1ab41"><img src="https://live.staticflickr.com/65535/51248009665_16f6802155_w.jpg" width="150" height="220" alt="29bfbaf576fd4acc9cc352413fa1ab41"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></td>
              <td><a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51247160208/in/dateposted-public/" title="7576929d07876754ad570ae9ef47603e"><img src="https://live.staticflickr.com/65535/51247160208_d9ac0e4b3e_w.jpg" width="220" height="220" alt="7576929d07876754ad570ae9ef47603e"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></td>
              <td><a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51246254772/in/dateposted-public/" title="Logo-South-Africa"><img src="https://live.staticflickr.com/65535/51246254772_29c67b934f_w.jpg" width="270" height="280" alt="Logo-South-Africa"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></td>
              <td><a data-flickr-embed="true" href="https://www.flickr.com/photos/193228967@N02/51246989226/in/dateposted-public/" title="PCB (3)"><img src="https://live.staticflickr.com/65535/51246989226_33af52ce39_w.jpg" width="230" height="235" fit="bounds" crop="fill" alt="PCB (3)"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></td>
            </tr>
          <tr>
              <td>Test Ranking</td>
            <td>2</td>
            <td>4</td>
            <td>3</td>
            <td>1</td>
            <td>7</td>
            <td>5</td>
          </tr>
          <tr>
            <td>ODI Ranking</td>
            <td>3</td>
            <td>4</td>
            <td>2</td>
            <td>1</td>
            <td>5</td>
            <td>6</td>
          </tr>
          <tr>
            <td>T20 Ranking</td>
            <td>2</td>
            <td>1</td>
            <td>5</td>
            <td>3</td>
            <td>6</td>
            <td>4</td>
          </tr>
          
        </table>
    </div>
